<br>
<div class="container">
  <div class="jumbotron text-center">

    <div ng-if="!app.UserData['userName']">
      <h1>Marketing Tester!</h1>
      <p class="text-muted">
        Тест на основы маркетинга.
      </p>
      <div class="form-inline">
        <div class="input-group">
          <div class="input-group-addon">Имя</div>
          <input class="form-control input-lg" type="text" placeholder="Alexander" ng-model="name">
        </div>
      </div>
      <br>
      <p><button class="btn btn-primary btn-lg" role="button" ng-click="app.setDataForm(name)">Начать</button></p>
    </div>

    <div ng-if="app.UserData['userName']" bindonce>
      <div ng-if="$index == app.UserData['count']" ng-repeat="questions in app.listQuestions">
        <p>Вопрос:<span bo-text="app.UserData['count']"></span>/59</p>
        <h2 bo-text="questions.question"></h2>
        <div ng-repeat="answer in questions.answer">
          <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox2" checklist-model="ans" checklist-value="answer['id']" ng-model="ans"><span bo-text="answer['message']"></span>
          </label>
        </div>
        <br>
        <button class="btn btn-primary" type="button" ng-click="app.checkAnswer(questions.successAnswer,app.ans)">Далее</button>
      </div>
    </div>

    <div ng-if="app.UserData['count'] == app.listQuestions.length" bindonce>
      <h3>Ваш результат, <strong bo-text="app.UserData['userName']"></strong></h3>
      <p><span bo-text="app.UserData['CorrectAnswers']"></span>/59</p>
      <br>
      <button class="btn btn-primary btn-lg" ng-click="app.setReset()" type="button">Начать с начала</button>
    </div>

  </div>
</div>
